body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d4d1c5; /* Pastel Pink */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}

#main-gif {
    width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #cf257a;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#yesBtn {
    background-color: #ad347f;
    color: white;
}

#noBtn {
    background-color: #dc3545;
    color: white;
    position: absolute; /* Essential for moving it around */
}
